{% extends "base.html" %}
{% load static %}
{% block content %}

{# HOME-HEADER #}
<div class="centered-logo">
  <div id="main_logo">
    <img src="{% static 'images/logo/main_logo.png' %}" alt="Djangocon 2024 logo" class="img-fluid">
  </div>
</div>
  
{# SLIDE TEXT #}
{% include 'modules/default.html' with content=files.0 %}

{# HOME-ABOUT #}
{% include 'modules/default.html' with content=files.1 %}

{# TICKETS #}
{% include 'modules/default.html' with content=files.2 %}

{# IMPORTANT DATES #}
{% include 'modules/default.html' with content=files.3 %}

{# HOME-SPONSORS #}
<div class="container-fluid home-sponsors">
  <h1 class="d-block text-center title title-lg">our <strong>sponsors</strong></h1>

</div>

{#  ABOUT#}
{#  {% include 'templates/default.html' with content=files.0 %}#}
{#  <hr/>#}

{#  LATEST-NEWS#}
{#  {% include 'modules/home/news.html' %}#}

{#  PORTO-INFO#}
{% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

{#  SPONSORS#}
{#  {% include 'modules/default.html' with content=files.2 %}#}

{#  MAILING-LIST#}
{#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}