{% extends "base.html" %}
{% load static %}
{% block content %}

  {# HOME-HEADER #}
  <div class="container" id="home_header">
      <div class="col-md-6 order-1 order-md-0" id="main_logo">
        <img src="{% static 'images/logo/main_logo.png' %}" alt="Wave Image" class="img-fluid">
      </div>
  </div>
  
  
{# HOME-ABOUT #}
{% include 'modules/default.html' with content=files.0 %}

{# IMPORTANT DATES #}
{% include 'modules/default.html' with content=files.1 %}

{# HOME-SPONSORS #}
<div class="container-fluid home-sponsors">
  <h1 class="d-block text-center title title-lg">our <strong>sponsors</strong></h1>
  {% include 'modules/default.html' with content=files.2 %}
</div>

{#  ABOUT#}
{#  {% include 'templates/default.html' with content=files.0 %}#}
{#  <hr/>#}

{#  LATEST-NEWS#}
{#  {% include 'modules/home/news.html' %}#}

{#  PORTO-INFO#}
{% comment %} {% include 'modules/default.html' with content=files.1 %} {% endcomment %}

{#  SPONSORS#}
{#  {% include 'modules/default.html' with content=files.2 %}#}

{#  MAILING-LIST#}
{#  {% include 'modules/home/mailing.html' %}#}

{% endblock content %}