{% load static %}


<div class="title-container">
    <img src="{% static 'images/other/tickets.png' %}" alt="tickets">
</div>

<div class="image-container" id="ticket123">
    
    <div class="image-wrapper">
        <img src="{% static 'images/other/tickets_menu.png' %}" id="tickets_menu" alt="tickets">
        <div class="button-overlay button1">
            <button class="button">BUY YOUR TICKET NOW</button>
        </div>
        <div class="button-overlay button2">
            <button class="button">BUY YOUR TICKET NOW</button>
        </div>
        <div class="button-overlay button3">
            <button class="button">BUY YOUR TICKET NOW</button>
        </div>
    </div>
</div>